.header {
  display: flex;
  width: 100%;
  height: 65px;
  /* background-color: #f00000; */
  /* box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.097); */
  position: absolute;
  top: 0;
  z-index: 100;
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.name {
  animation: slideFromLeft 1s ease-out forwards;
  font-size: 30px;
}

.namecontainer {
  flex: 1;
  padding-left: 5%;
  padding-top: 2%;
}

@media (max-width: 768px) {
  .name {
    white-space: nowrap;
    /* width: 10%; */
    font-size: 25px;
    padding-left: 2rem;
    padding-top: 30px;
  }

  .namecontainer {
    flex: 1;
    padding: 0;
  }
  .header {
    height: 80px;
  }
}

.scrolled {
}
