.mobnav {
  position: absolute;
  background-color: #fdffff;
  width: 100%;
  height: 100vh;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}
@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.show {
  display: block;
  animation: appearFromTop 0.2s ease-in;
}

.close {
  transition: all 0.2s ease-out;
  transform: translateY(-100%);
}

.hidden {
  display: none;
}

.ul {
  padding-top: 3.5rem;
  list-style-type: none;
}

.li {
  font-size: 2.3rem;
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
}

.li:last-child {
  border-bottom: none;
}

.linkscontainer {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  text-align: center;
}
