.mobnav {
  display: none;
  position: absolute;
  /* background-color: #fff9f0; */
  color: rgb(0, 0, 0);
  width: 99.7%;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  border-bottom: solid 1px rgba(0, 0, 0, 0.293);
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
}

.mobname {
  margin: 30px;
}
.mobnamecontainer {
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.768);
}

.show {
  transform: translateY(0%);
}

.hidden {
  display: none;
}

.ul {
  text-align: left;
  list-style-type: none;
  margin-left: 5%;
  margin-bottom: 10%;
}

.icons {
  max-width: 30%;
  margin-left: -20%;
  margin-right: 8%;
  transform: translateY(25%);
}

.li {
  font-size: 1.8rem;
  margin: 15px;
  padding-bottom: 10px;
  /* border-bottom: solid rgba(0, 0, 0, 0.656) 1px; */
  width: 80%;
  white-space: nowrap;
}

.li:last-child {
  border-bottom: none;
  background-position: center;
  background-size: cover;
}

.linkscontainer {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .mobnav {
    display: block;
  }
}
