.navbar {
  width: 50%;
}

.ul {
  padding-top: 10px;
  justify-content: center;
  list-style-type: none;
  display: flex;
}

.li {
  font-size: 35px;
  margin: 20px;
  transition: all 0.3s;
}
.li:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.burger {
  display: none;
  width: 50px;
  float: right;
  margin-top: 1.5rem;
  margin-right: 0.8rem;
}

@media (max-width: 768px) {
  .ul {
    display: none;
  }

  .burger {
    display: block;
  }
}
