.image {
  width: 300px;

  flex-grow: 1; /* Allow images to grow to fill available space */
}

.images {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  /* justify-content: center; */
}

.gallery {
  margin-top: 20px;
}
