img {
  max-width: 100%;
  max-height: 90%;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.5);
}

.column {
  margin: 10px;
}
.gallery {
  margin: 0 auto;
  width: 90%;
  display: flex;
  padding: 10px;
}
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
  }

  img {
    margin: 0;
    margin-bottom: 10px;
  }
}
