.footer {
  max-width: 100%;
  border: 0.5px solid rgba(0, 0, 0, 0.216);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  margin-top: 5%;
}

.footernav {
  text-align: center;
  width: 50%;
  display: flex;
  list-style: none;
  height: 100%;
}

.footerli {
  margin: 2.5%;
  font-size: 1.2vw;
  transition: all 0.3s ease-in-out;
}

.footerli:hover {
  transform: translateX(4px);
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
