.hero {
  background-image: url(./images/image9.jpg);
  width: 100%;
  height: 100vh; /* or any specific height */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.herobg {
  margin-top: -5%;
  width: 100%;
  max-height: auto;
  position: relative;
  transform-style: preserve-3d;
}

.herotxtcontainer {
  padding: 20px;
  width: 500px;
  height: 500px;
  z-index: 1;
  position: absolute;
  font-size: 2rem;
  color: white;
  opacity: 0.9;
  text-align: left;
  top: 20%;
  left: 5%;
  border-radius: 20px;
}

.herotxt {
  /* color: #423a3a; */
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.39);
}
.herospan {
  margin-top: 4px;
  color: #ffffff;
  text-shadow: 0 4px 6px rgb(0, 0, 0);
}
.btn {
  color: #fff;
  font-size: large;
  font-family: inherit;
  position: absolute;
  /* border: solid black 1px; */
  border: none;
  background-color: #8a2126ea;
  padding: 20px 70px;
  margin: 30px 0px;
  cursor: pointer;
  transition: color 0.4s linear;
  z-index: -1;
  border-radius: 2px;
}

.btn:hover {
  color: #000000;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
}
.btn1::before {
  transform: scaleX(0);
}

.btn1:hover::before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .herotxtcontainer {
    width: 70%;
    font-size: 20px;
  }

  .btn {
    width: 60%;
    height: 40px;
    white-space: nowrap;
    padding: 0;
    font-size: 1rem;
  }

  .hero {
    background-position: 20%;
  }
}
