.aboutusmaincontainer {
  width: 95%;
  margin: 0 auto;
  height: 120vh;
  display: flex;
  margin-top: 10%;
  /* overflow-x: hidden; */
}

.aboutustextcontainer {
  /* padding: 20px; */
  height: 115vh;
  width: 120%;
  margin-left: 10%;
}

.aboutush1 {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 2%;
  font-size: 1.8vw;
}
span {
  margin-top: 10%;
  font-size: 1.8vw;
  /* width: 70%; */
  text-align: center;
}

/* Images Component */

.aboutusimagecontainer {
  /* position: absolute; */
  width: 100%;
  transform: translateY(-5%);
}

.aboutusimage2 {
  transform: translateX(70%) rotate(5deg);
  max-width: 60%;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.aboutusimage3 {
  transform: translateX(15%) translateY(-40%) rotate(-5deg);
  max-width: 60%;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.aboutusimage4 {
  transform: translateX(70%) translateY(-70%) rotate(5deg);
  max-width: 60%;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.aboutusimage5 {
  transform: translateX(15%) translateY(-105%) rotate(-5deg);
  max-width: 60%;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.overlaydiv {
  display: flex;
}
.camera {
  position: absolute;
  max-width: 25%;
  right: 0;
  transform: translateY(-60%) rotate(10deg);
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
@keyframes appearAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appear {
  animation: appearAnimation 0.5s ease-in forwards;
}
.appear2 {
  animation: appearAnimation 0.5s ease-in forwards;
  animation-delay: 400ms;
}
.appear3 {
  animation: appearAnimation 0.5s ease-in forwards;
  animation-delay: 600ms;
}
.appear4 {
  animation: appearAnimation 0.5s ease-in forwards;
  animation-delay: 800ms;
}

.polaroids {
  position: absolute;
  max-width: 25%;
  right: 10%;
  margin-top: 5%;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.polaroids:hover {
  transform: rotate(-2deg);
}

.camera:hover {
  opacity: 1;
  padding-bottom: 20px;
}

.retro {
  position: absolute;
  max-width: 40%;
  /* transform: translateX(80%) translateY(-50%) rotate(40deg); */
  transform: translateY(-40%) rotate(40deg);
  left: 26%;
  z-index: 2;
  opacity: 0.5;
}

.cross {
  position: absolute;
  max-width: 40%;
  left: 22%;
  transform: translateY(-50%) rotate(85deg) translateX(0);
  z-index: 3;
}

@media (max-width: 768px) {
  .aboutusmaincontainer {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .aboutusimagecontainer {
    width: 90%;
    display: block;
    margin-top: 10%;
    transform: translateY(0);
  }

  .aboutustextcontainer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-left: 0%;
    height: 100vh;
    transform: translateY(-20%);
  }

  .aboutush1 {
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }

  .camera {
    right: 5%;
    transform: translateY(-100%) translateX(20%) rotate(10deg);
    max-width: 60%;
  }

  .polaroids {
    display: none;
  }
}
